/1.ipynb
/2.ipynb
/3.ipynb
/absorbansi-Linear-RF.ipynb
/absorbansi.ipynb
/ABSTRAK.docx
/all_residuals_uv1268.csv
/D4 TI_2141720019_KOMPILASI_2025.pdf
/Latihan UV Vis 21 Juli 2022.xlsx
/model_evaluation_scenario_2.csv
/model_evaluation_summary.csv
/normalized_spectra.xlsx
/PPT-PROPOSAL-HAWA-ESANDA.pdf
/PPT-PROPOSAL-HAWA-ESANDA.pptx
/PPT-THESIS-PROPOSAL-HAWA-ESANDA - Copy.pptx
/PPT-THESIS-PROPOSAL-HAWA-ESANDA.pptx
/PPT_PROPOSAL_HAWA-ESANDA.xml
/Prediksi-antar-sampel - Copy.ipynb
/Prediksi-antar-sampelC.ipynb
/Proposal Skripsi_Hawa Esanda (Repaired).docx
/Proposal Skripsi_Hawa Esanda - Eng.docx
/Proposal Skripsi_Hawa Esanda.docx
/Proposal Skripsi_Hawa Esanda.pdf
/Proposal Skripsi_Hawa Esanda_2241720079.pdf
/Proposal Skripsi_Hawa Esanda_fix.docx
/Proposal Skripsi_Hawa Esanda_fix.pdf
/Rev1_Proposal-Skripsi_Hawa-Esanda.pdf
/Rev2_Proposal Skripsi_Hawa Esanda.docx
/Rev3_Proposal Skripsi_Hawa Esanda.docx
/RL.jpeg
/RP.pdf
/Sentiment Analysis in Indonesia Healthcare Application using IndoBERT Approach.pdf
/Skripsi
/Skripsi_Hawa-eng.docx
/spektrofotometri.jpg
/standardized_spectra.xlsx
/STUDI KOMPARATIF ANTARA MODEL REGRESI POLINOMIAL DAN RANDOM FOREST DALAM MEMPREDIKSI KURVA ABSORBANSI PADA SPEKTRUM UV-VIS DENGAN PENDEKATAN MACHINE LEARNING.docx
/STUDI KOMPARATIF MODEL MACHINE LEARNING DALAM MEMPREDIKSI ABSORBANSI DAUN SELADA TERHADAP PANJANG GELOMBANG PADA SPEKTRUM UV-VIS.pdf
/Template_Skripsi_Penelitian_2020-2021_Rev3.1[1].docx
/Template_Skripsi_Penelitian_2020-2021_Rev3.docx
/test
/WhatsApp Image 2026-01-06 at 08.03.12.jpeg
/WhatsApp Image 2026-01-06 at 10.48.36.jpeg
/[READY FOR SUBMISSION] Proposal Skripsi_EEG_Reza Arya Wijaya_V.2.1.docx
/~$mplate_Skripsi_Penelitian_2020-2021_Rev3.1[1].docx
/~$oposal Skripsi_Hawa Esanda - Eng.docx
/~$oposal Skripsi_Hawa Esanda.docx
/~WRD0376.tmp
/~WRL0772.tmp
/~WRL1521.tmp
/~WRL1524.tmp
/~WRL2614.tmp
/~WRL3126.tmp